openapi: 3.0.2
info:
  description: Searching of WorldCat
  version: 2.0.0
  title: WorldCat Search API v. 2
servers:
  - url: 'https://americas.discovery.api.oclc.org/worldcat/search/v2'
security:
  - worldcat_search_auth:
      - wcapi
paths:
  /bibs-retained-holdings:
    get:
      tags:
        - Member Shared Print Holdings
      summary: Find member shared print holdings for a known item
      description: 'Given a known item, find the member library holdings with a commitment to retain (Shared Print)'
      operationId: find-bib-retained-holdings
      parameters:
        - name: Accept
          in: header
          description: Content Type the client supports and is requesting (application/json currently supported)
          schema:
            type: string
            default: application/json
          required: false
        - name: oclcNumber
          in: query
          description: oclc number of the bibliographic item
          required: false
          schema:
            description: the oclc number of a given bibliographic record
            type: integer
            format: int64
          example: 41266045
        - name: isbn
          in: query
          description: isbn of the bibliographic item (bn index)
          required: false
          schema:
            type: string
          example: 0439136350
        - name: issn
          in: query
          description: issn of the bibliographic item (in index)
          required: false
          schema:
            type: string
          example: 0099-1333
        - name: heldByGroup
          in: query
          description: Restrict to holdings held by Group Symbol
          required: false
          schema:
            type: string
          example: ASRL
        - name: heldInState
          in: query
          description: 'Restrict to holdings held by Institutions in requested State/Province, per ISO 3166-2.'
          required: false
          schema:
            description: 'Name of the State/Province, per ISO 3166-2.'
            type: string
          example: US-TX
        - name: offset
          in: query
          description: 'start position of the bib records to return (0 based), default 0'
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 10
        - name: limit
          in: query
          description: 'maximum number of records to return, maximum 50, default 10'
          required: false
          schema:
            type: integer
            format: int32
            default: 10
          example: 50
      responses:
        '200':
          description: Successful search for retained holdings with bib info
          content:
            application/json:
              schema:
                type: object
                properties:
                  numberOfRecords:
                    type: integer
                    format: int32
                  briefRecords:
                    type: array
                    items:
                      type: object
                      properties:
                        oclcNumber:
                          description: the oclc number of a given bibliographic record
                          type: integer
                          format: int64
                        title:
                          description: 'Linked [v880sa,b] if present or [v245sa,b]'
                          type: string
                        creator:
                          description: List of creators as single string
                          type: string
                        date:
                          description: machine readable date 008
                          type: string
                        language:
                          description: 'Language of the item [v041sa,j]'
                          type: string
                        generalFormat:
                          description: 'General Format Type [Admin/OCLCDef/StdRT]'
                          type: string
                          enum:
                            - Archv
                            - ArtChapter
                            - AudioBook
                            - Book
                            - CompFile
                            - Encyc
                            - Game
                            - Image
                            - IntMM
                            - Jrnl
                            - Kit
                            - Map
                            - MsScr
                            - Music
                            - News
                            - Object
                            - Snd
                            - Toy
                            - Video
                            - Vis
                            - Web
                        specificFormat:
                          description: 'Specific Format Type [Admin/OCLCDef/StdRT2]'
                          type: string
                          enum:
                            - 2D
                            - Artcl
                            - Bluray
                            - Braille
                            - Cassette
                            - CD
                            - Chptr
                            - Continuing
                            - Digital
                            - DVD
                            - Encyc
                            - Film
                            - LargePrint
                            - LP
                            - Mic
                            - mss
                            - PrintBook
                            - rec
                            - Thsis
                            - VHS
                        edition:
                          description: 'Edition Statement [v250sa]'
                          type: string
                        publisher:
                          type: string
                        isbns:
                          description: 'International Standard Book Number [v020sa]'
                          type: array
                          items:
                            type: string
                        issns:
                          description: International Standard Serial Numbers
                          type: array
                          items:
                            description: 'International Standard Serial Number [v022sal v700,v710,v711,v773,v776,v777,v780,v785 - sx]'
                            type: string
                        mergedOclcNumbers:
                          description: 'Merged OCLC numbers [v019sa]'
                          type: array
                          items:
                            type: string
                        catalogingInfo:
                          type: object
                          properties:
                            catalogingAgency:
                              description: 'Cataloging Agency [v040/sa]'
                              type: string
                            transcribingAgency:
                              description: 'Transcribing Agency [v040/sc]'
                              type: string
                            catalogingLanguage:
                              description: 'Language record was cataloged in [v040sb]'
                              type: string
                            levelOfCataloging:
                              description: 'Level of cataloging [LDR position 5]'
                              type: string
                        institutionHolding:
                          type: object
                          properties:
                            totalHoldingCount:
                              description: 'Number of holdings for this item [Holdings/TotalLibCount || FRBRHoldings/B]'
                              type: integer
                              format: int32
                            totalWorksHoldingCount:
                              description: 'Number of holdings in the workset [FRBRHoldings/B]'
                              type: integer
                              format: int32
                            totalEditions:
                              description: Total number of editions in the workgroup
                              type: integer
                              format: int32
                          oneOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  country:
                                    description: 'Country of holding institution [Holdings/Library/Country]'
                                    type: string
                                  state:
                                    description: 'State of holding institution [Holdings/Library/State]'
                                    type: string
                                  oclcSymbol:
                                    description: 'Oclc Symbol of holding institution [Holdings/Library/InstSym]'
                                    type: string
                                  registryId:
                                    description: The identifier in the WorldCat Registry for the institution
                                    type: integer
                                  institutionName:
                                    description: 'Name of holding institution [Holdings/Library/InstName]'
                                    type: string
                                  alsoCalled:
                                    description: Some name the library might also be called
                                    type: string
                                  address:
                                    type: object
                                    properties:
                                      street1:
                                        description: Name of street
                                        type: string
                                      street2:
                                        description: Name of street 2
                                        type: string
                                      city:
                                        description: Name of city
                                        type: string
                                      state:
                                        description: 'Name of the State/Province, per ISO 3166-2.'
                                        type: string
                                      postalCode:
                                        description: Postal Code
                                        type: string
                                      country:
                                        description: 'Two-character Country Code, per ISO 3166.'
                                        type: string
                                      lat:
                                        description: Latitude
                                        type: number
                                        format: double
                                        example: 37.502508
                                      lon:
                                        description: Longitude
                                        type: number
                                        format: double
                                        example: -122.22702
                                  institutionType:
                                    description: The type of institution
                                    enum:
                                      - ACADEMIC
                                      - PUBLIC
                                      - REGIONAL_OR_NATIONAL
                                      - OTHER
                                      - CORPORATE_SPECIAL_LIBRARY
                                      - HEALTH
                                      - MUSEUM_OR_ARCHIVES
                                      - LAW
                                      - MUSIC
                                      - LIBRARY_NETWORK_GROUP
                                    type: string
                                  hasOPACLink:
                                    description: Whether or not the library has an OPAC deep links
                                    type: boolean
                                  distance:
                                    description: Distance from location if lat/log was specified
                                    type: string
                                  self:
                                    description: URI to find more info about the institution
                                    type: string
                                    format: uri
                                  illStatus:
                                    description: 'ILL status [Holdings/Library/ILLStatus]'
                                    type: string
                                  illGroup:
                                    description: 'ILL group [Holdings/Library/ILLGroup]'
                                    type: string
                                  hasSharedPrintCommitment:
                                    description: 'institution has shared print commitment [Holdings/LibHasSharedPrint]'
                                    type: string
                                    enum:
                                      - 'Y'
                                      - 'N'
                            - type: array
                              items:
                                type: object
                                properties:
                                  lhrControlNumber:
                                    description: 'LHR Control Number [LHR -> HldDetRec/c001]'
                                    type: string
                                  lhrDateEntered:
                                    description: 'LHR Date Entered [LHR -> HldDetRec/Admin/CreateDate]'
                                    type: string
                                  lhrLastUpdated:
                                    description: 'LHR Date Last Used [LHR -> HldDetRec/Admin/ReplacedDate]'
                                    type: string
                                  oclcNumber:
                                    description: 'OCLC Number [LHR -> HldDetRec/c004]'
                                    type: string
                                  format:
                                    description: 'material format [LHR -> HldDetRec/c007]'
                                    type: string
                                  location:
                                    description: 'Local holding location [LHR -> v852sa,b,c]'
                                    type: object
                                    properties:
                                      holdingLocation:
                                        description: 'Institution Symbol [LHR -> v852sa]'
                                        type: string
                                      sublocationCollection:
                                        description: 'Sublocation or collection [LHR -> v852sb]'
                                        type: string
                                      shelvingLocation:
                                        description: 'Shelving location [LHR -> v852sc]'
                                        type: string
                                  copyNumber:
                                    description: 'copy number [LHR -> HldDetRec/v852st]'
                                    type: string
                                  callNumber:
                                    description: 'Local call number [LHR -> v852sh,i,j,k,l,m]'
                                    type: object
                                    properties:
                                      displayCallNumber:
                                        description: 'Display call Number [LHR -> v852 |k,h,i,m / |j/ |l]'
                                        type: string
                                      classificationPart:
                                        description: LHR -> v852sh
                                        type: string
                                      itemParts:
                                        description: LHR -> v852si
                                        type: array
                                        items:
                                          type: string
                                      shelvingControlNumber:
                                        description: LHR -> v852sj
                                        type: string
                                      prefixes:
                                        description: LHR -> v852sk
                                        type: array
                                        items:
                                          type: string
                                      shelvingForm:
                                        description: LHR -> v852sl
                                        type: string
                                      suffixes:
                                        description: LHR -> v852sm
                                        type: array
                                        items:
                                          type: string
                                  lendingPolicy:
                                    description: 'local lending policy [LHR -> HldDetRec/Admin/Lend]'
                                    type: string
                                  hasSharedPrintCommitment:
                                    description: 'institution has shared print commitment [Holdings/LibHasSharedPrint || LHR -> HldDetRec/Admin/SPReg]'
                                    type: string
                                    enum:
                                      - 'Y'
                                      - 'N'
                                  sharedPrintCommitments:
                                    description: 'shared print details [LHR -> HldDetRec/v583]'
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        actionNote:
                                          description: 'Action Note [LHR -> HldDetRec/v583sa]'
                                          type: string
                                        materialsSpecified:
                                          description: 'Materials Sepcified [LHR -> HldDetRec/v583s3]'
                                          type: string
                                        institution:
                                          description: 'Institution to which applies [LHR -> HldDetRec/v583s5]'
                                          type: string
                                        dateOfAction:
                                          description: 'date of action [LHR -> HldDetRec/v583sc]'
                                          type: string
                                        commitmentExpirationDate:
                                          description: 'commitment expiration date [LHR -> HldDetRec/v583sd]'
                                          type: string
                                        authorization:
                                          description: 'Authorization [LHR -> HldDetRec/v583sf]'
                                          type: string
                                        methodOfAction:
                                          description: 'Method of Action [LHR -> HldDetRec/v583si]'
                                          type: string
                                        siteOfAction:
                                          description: 'Site of Action [LHR -> HldDetRec/v583sj]'
                                          type: string
                                        status:
                                          description: 'Status [LHR -> HldDetRec/v583sl]'
                                          type: string
                                        uri:
                                          description: 'URI [LHR -> HldDetRec/v583su]'
                                          type: string
                                        publicNote:
                                          description: 'Public Note [LHR -> HldDetRec/v583sz]'
                                          type: string
                                  summary:
                                    description: 'summary statement [LHR -> HldSummRec/v966sa]'
                                    type: string
                                  holdingParts:
                                    description: 'Textual Holding [LHR -> HldDetRec/v866,v867,v868] Item Information Holding [LHR -> HldDetRec/v876,v877,v878] Enumeration Chronology Holding [LHR -> HldDetRec/v863,v864,v865]'
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        linkingAndSequenceNumber:
                                          description: 'Field link and sequence number [852/863-865/866-868/876-878 | s8]'
                                          type: string
                                        summaryOfHoldings:
                                          description: 'Summary of Holdings [https://www.loc.gov/marc/holdings/echdcntf.html]'
                                          type: string
                                        enumerations:
                                          description: 'Enumerations [853-855/863-865 |a-h]'
                                          type: array
                                          items:
                                            description: 'The caption and value pair for a caption describing a numeric, alphabetic, and/or date designation for an item. The caption is defined as an attribute on the element and the value for the caption is defined by the element contents.'
                                            type: object
                                            properties:
                                              caption:
                                                type: string
                                              value:
                                                type: string
                                        chronologies:
                                          description: 'Chronologies [853-855/863-865 |i-v]'
                                          type: array
                                          items:
                                            description: 'The caption and value pair for a caption describing a numeric, alphabetic, and/or date designation for an item. The caption is defined as an attribute on the element and the value for the caption is defined by the element contents.'
                                            type: object
                                            properties:
                                              caption:
                                                type: string
                                              value:
                                                type: string
                                        textualHoldings:
                                          description: '[866-8 |a]'
                                          type: string
                                        itemMaterialSpecified:
                                          description: '[876-8 |3]'
                                          type: string
                                        pieceDesignation:
                                          description: 'Piece Designation [852/863-865/866-868/876-878 |p]'
                                          type: string
                                        cancelledPieceDesignations:
                                          description: 'Cancelled Piece Designation [876-878 |r]'
                                          type: array
                                          items:
                                            type: string
                                        temporaryLocation:
                                          description: 'Temporary location [876-878 |l]'
                                          type: string
                                        publicNotes:
                                          description: 'Public notes [852/863-865/866-868/876-878 |z]'
                                          type: array
                                          items:
                                            type: string
                                        yearRanges:
                                          description: 'Year as Range [si]'
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              from:
                                                type: string
                                              to:
                                                type: string
                                        volumeRanges:
                                          description: 'Volume Number As Range [sb]'
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              from:
                                                type: string
                                              to:
                                                type: string
                                required:
                                  - lhrControlNumber
                                  - lhrDateEntered
                                  - lhrLastUpdated
                                  - oclcNumber
                                  - format
                                  - lendingPolicy
                                  - hasSharedPrintCommitment
                      required:
                        - oclcNumber
                        - title
                        - creator
                        - date
                        - language
                        - edition
                        - publisher
                  searchFacets:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: string
                        facetType:
                          type: string
                        values:
                          type: array
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                              count:
                                type: integer
                                format: int32
                              subFacet:
                                type: object
                                properties:
                                  index:
                                    type: string
                                  facetType:
                                    type: string
                                  values:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                        count:
                                          type: integer
                                          format: int32
                              subFacetItemBrief:
                                type: object
                                properties:
                                  index:
                                    type: string
                                  facetType:
                                    type: string
                                  values:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                        count:
                                          type: integer
                                          format: int32
              examples:
                success-bibs-retained-holdings:
                  summary: successful request for bibs retained-holdings
                  value:
                    numberOfRecords: 1
                    briefRecords:
                      - oclcNumber: '1752384'
                        title: Human biology.
                        creator: Raymond Pearl
                        date: '1929'
                        language: eng
                        generalFormat: Jrnl
                        publisher: Wayne State University Press
                        publicationPlace:
                          - Detroit
                          - Mich.
                          - etc.
                        mergedOclcNumbers:
                          - '51395149'
                          - '185058739'
                          - '219847884'
                        issns:
                          - 0018-7143
                        catalogingInfo:
                          catalogingAgency: MUL
                          transcribingAgency: MUL
                          catalogingLanguage: eng
                          levelOfCataloging: ' '
                        institutionHolding:
                          totalHoldingCount: 716
                          briefHoldings:
                            - country: US
                              state: US-GA
                              oclcSymbol: EMU
                              registryId: 699
                              institutionName: EMORY UNIV
                              self: 'https://worldcat.org/oclc-config/institution/data/699'
                              illStatus: S
                              address:
                                street1: 540 Asbury Circle
                                city: Atlanta
                                state: US-GA
                                postalCode: 30322
                                country: US
                              institutionType: ACADEMIC
                success-bibs-retained-holdings-monograph:
                  summary: successful request for bibs retained-holdings monograph
                  value:
                    numberOfRecords: 1
                    briefRecords:
                      - oclcNumber: '27972555'
                        title: 'Design, form, and chaos'
                        creator: Paul Rand
                        date: '1993'
                        language: eng
                        generalFormat: Book
                        specificFormat: PrintBook
                        publisher: Yale University Press
                        publicationPlace: 'New Haven :'
                        mergedOclcNumbers:
                          - '1008281567'
                        isbns:
                          - '0300055536'
                          - '9780300055535'
                        catalogingInfo:
                          catalogingAgency: DLC
                          transcribingAgency: DLC
                          catalogingLanguage: eng
                          levelOfCataloging: ' '
                        institutionHolding:
                          totalHoldingCount: 904
                          briefHoldings:
                            - country: US
                              state: US-NY
                              oclcSymbol: VKM
                              registryId: 2012
                              institutionName: SIENA COL
                              self: 'https://worldcat.org/oclc-config/institution/data/2012'
                              illStatus: S
                              address:
                                street1: 'Standish Library,  Siena College'
                                street2: 515 Loudon Road
                                city: Loudonville
                                state: US-NY
                                postalCode: 12211-1462
                                country: US
                              institutionType: ACADEMIC
                success-bibs-retained-holdings-serial:
                  summary: successful request for bibs retained-holdings serial
                  value:
                    numberOfRecords: 1
                    briefRecords:
                      - oclcNumber: '1588319'
                        title: Review of educational research.
                        creator: Douglas E. Scates
                        date: '1931'
                        language: eng
                        generalFormat: Jrnl
                        publisher: American Educational Research Association.
                        publicationPlace: '[Washington]'
                        mergedOclcNumbers:
                          - '1265834'
                          - '185062311'
                          - '706493479'
                        issns:
                          - 0034-6543
                        catalogingInfo:
                          catalogingAgency: MUL
                          transcribingAgency: MUL
                          catalogingLanguage: eng
                          levelOfCataloging: ' '
                        institutionHolding:
                          totalHoldingCount: 1048
                          briefHoldings:
                            - country: US
                              state: US-IL
                              oclcSymbol: CRL
                              registryId: 93175
                              institutionName: CENTER FOR RES LIBR
                              self: 'https://worldcat.org/oclc-config/institution/data/93175'
                              illStatus: 'N'
                              address:
                                street1: 6050 S. Kenwood
                                city: Chicago
                                state: US-IL
                                postalCode: 60637
                                country: US
                              institutionType: ACADEMIC
                success-bibs-retained-holdings-serial-2:
                  summary: successful request for bibs retained-holdings serial with enumeration/caption/summary
                  value:
                    numberOfRecords: 1
                    briefRecords:
                      - oclcNumber: '1696940'
                        title: The Irish theological quarterly.
                        creator: 'St. Patrick''s College (Maynooth, Ireland).'
                        date: '1906'
                        language: eng
                        generalFormat: Jrnl
                        publisher: 'Members of the Faculty of Theology] St. Patrick''s College, Maynooth.'
                        publicationPlace: 'Maynooth [Ireland,'
                        mergedOclcNumbers:
                          - 528992833
                        issns:
                          - 0021-1400
                        catalogingInfo:
                          catalogingAgency: MUL
                          transcribingAgency: MUL
                          catalogingLanguage: eng
                          levelOfCataloging: ' '
                        institutionHolding:
                          totalHoldingCount: 291
                          briefHoldings:
                            - country: US
                              state: US-NY
                              oclcSymbol: VKM
                              registryId: 2012
                              institutionName: SIENA COL
                              self: 'https://worldcat.org/oclc-config/institution/data/2012'
                              illStatus: S
                              address:
                                street1: 'Standish Library,  Siena College'
                                street2: 515 Loudon Road
                                city: Loudonville
                                state: US-NY
                                postalCode: 12211-1462
                                country: US
                              institutionType: ACADEMIC
        '400':
          description: 'Invalid query. The request was unacceptable, often due to missing a required parameter.'
          content:
            application/json:
              schema:
                type: object
                description: RFC 7807 description of an error.
                properties:
                  type:
                    description: 'A URI reference [RFC3986] that identifies the problem type.'
                    type: string
                    format: uri
                    enum:
                      - 'https://developer.api.oclc.org/errors/NOT_ACCEPTABLE'
                      - 'https://developer.api.oclc.org/errors/NOT_ALLOWED'
                      - 'https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR'
                      - 'https://developer.api.oclc.org/errors/BAD_REQUEST'
                      - 'https://developer.api.oclc.org/errors/NOT_FOUND'
                      - 'https://developer.api.oclc.org/errors/NOT_ELIGIBLE'
                      - 'https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME'
                      - 'https://developer.api.oclc.org/errors/SYNTAX_ERROR'
                      - 'https://developer.api.oclc.org/errors/INVALID_DOCUMENT'
                      - 'https://developer.api.oclc.org/errors/MISSING_ELEMENT'
                      - 'https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE'
                  title:
                    description: 'A short, human-readable summary of the problem type.'
                    type: string
                  instance:
                    description: A URI reference that identifies the specific occurrence of the problem.
                    type: string
                    format: uri
                  detail:
                    description: 'A human-readable explanation specific to this occurrence of the problem.,'
                    type: string
                  invalidParams:
                    description: An array of validation errors.
                    type: array
                    items:
                      description: The validation error descriptor.
                      type: object
                      properties:
                        path:
                          type: string
                        name:
                          type: string
                        reason:
                          type: string
              examples:
                missing-query-parameter:
                  summary: Error returned when required query parameter not sent
                  value:
                    type: MISSING_QUERY_PARAMETER
                    title: Validation Failure
                    detail: Required String parameter 'q' is not present
                missing-query-parameter-value:
                  summary: Error returned when query parameter value not valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: Query term is not provided.
                invalid-oclc-number:
                  summary: Error returned when oclc number isn't valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: oclcNumber must be a positive whole number
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                unauthorized:
                  summary: Error returned when valid API credentials not sent or invalid
                  value:
                    message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                forbidden:
                  summary: Error returned when API credentials not for resource
                  value:
                    message: Forbidden
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            application/json:
              schema:
                type: object
                description: RFC 7807 description of an error.
                properties:
                  type:
                    description: 'A URI reference [RFC3986] that identifies the problem type.'
                    type: string
                    format: uri
                    enum:
                      - 'https://developer.api.oclc.org/errors/NOT_ACCEPTABLE'
                      - 'https://developer.api.oclc.org/errors/NOT_ALLOWED'
                      - 'https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR'
                      - 'https://developer.api.oclc.org/errors/BAD_REQUEST'
                      - 'https://developer.api.oclc.org/errors/NOT_FOUND'
                      - 'https://developer.api.oclc.org/errors/NOT_ELIGIBLE'
                      - 'https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME'
                      - 'https://developer.api.oclc.org/errors/SYNTAX_ERROR'
                      - 'https://developer.api.oclc.org/errors/INVALID_DOCUMENT'
                      - 'https://developer.api.oclc.org/errors/MISSING_ELEMENT'
                      - 'https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE'
                  title:
                    description: 'A short, human-readable summary of the problem type.'
                    type: string
                  instance:
                    description: A URI reference that identifies the specific occurrence of the problem.
                    type: string
                    format: uri
                  detail:
                    description: 'A human-readable explanation specific to this occurrence of the problem.,'
                    type: string
                  invalidParams:
                    description: An array of validation errors.
                    type: array
                    items:
                      description: The validation error descriptor.
                      type: object
                      properties:
                        path:
                          type: string
                        name:
                          type: string
                        reason:
                          type: string
              examples:
                not-allowed:
                  summary: Error when invalid HTTP method used
                  value:
                    title: NOT_ALLOWED
                    detail: POST method not allowed
        '406':
          description: Media type not supported
          content:
            application/json:
              schema:
                type: object
                description: RFC 7807 description of an error.
                properties:
                  type:
                    description: 'A URI reference [RFC3986] that identifies the problem type.'
                    type: string
                    format: uri
                    enum:
                      - 'https://developer.api.oclc.org/errors/NOT_ACCEPTABLE'
                      - 'https://developer.api.oclc.org/errors/NOT_ALLOWED'
                      - 'https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR'
                      - 'https://developer.api.oclc.org/errors/BAD_REQUEST'
                      - 'https://developer.api.oclc.org/errors/NOT_FOUND'
                      - 'https://developer.api.oclc.org/errors/NOT_ELIGIBLE'
                      - 'https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME'
                      - 'https://developer.api.oclc.org/errors/SYNTAX_ERROR'
                      - 'https://developer.api.oclc.org/errors/INVALID_DOCUMENT'
                      - 'https://developer.api.oclc.org/errors/MISSING_ELEMENT'
                      - 'https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE'
                  title:
                    description: 'A short, human-readable summary of the problem type.'
                    type: string
                  instance:
                    description: A URI reference that identifies the specific occurrence of the problem.
                    type: string
                    format: uri
                  detail:
                    description: 'A human-readable explanation specific to this occurrence of the problem.,'
                    type: string
                  invalidParams:
                    description: An array of validation errors.
                    type: array
                    items:
                      description: The validation error descriptor.
                      type: object
                      properties:
                        path:
                          type: string
                        name:
                          type: string
                        reason:
                          type: string
              examples:
                not-acceptable-error:
                  summary: Error when media type in Accept header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ''
                    detail: 'Media type application/xml not supported. Supported media types: application/json'
                not-acceptable-error-language:
                  summary: Error when language in Accept-Language header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ''
                    detail: 'en-UK supported. Supported languages: en, es, fr'
        '500':
          description: Something went wrong (hopfully rare) - please try again
          content:
            application/json:
              schema:
                type: object
                description: RFC 7807 description of an error.
                properties:
                  type:
                    description: 'A URI reference [RFC3986] that identifies the problem type.'
                    type: string
                    format: uri
                    enum:
                      - 'https://developer.api.oclc.org/errors/NOT_ACCEPTABLE'
                      - 'https://developer.api.oclc.org/errors/NOT_ALLOWED'
                      - 'https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR'
                      - 'https://developer.api.oclc.org/errors/BAD_REQUEST'
                      - 'https://developer.api.oclc.org/errors/NOT_FOUND'
                      - 'https://developer.api.oclc.org/errors/NOT_ELIGIBLE'
                      - 'https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME'
                      - 'https://developer.api.oclc.org/errors/SYNTAX_ERROR'
                      - 'https://developer.api.oclc.org/errors/INVALID_DOCUMENT'
                      - 'https://developer.api.oclc.org/errors/MISSING_ELEMENT'
                      - 'https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE'
                  title:
                    description: 'A short, human-readable summary of the problem type.'
                    type: string
                  instance:
                    description: A URI reference that identifies the specific occurrence of the problem.
                    type: string
                    format: uri
                  detail:
                    description: 'A human-readable explanation specific to this occurrence of the problem.,'
                    type: string
                  invalidParams:
                    description: An array of validation errors.
                    type: array
                    items:
                      description: The validation error descriptor.
                      type: object
                      properties:
                        path:
                          type: string
                        name:
                          type: string
                        reason:
                          type: string
      security:
        - worldcat_search_auth:
            - 'wcapi:view_retained_holdings'
  /bibs-summary-holdings:
    get:
      tags:
        - Member General Holdings
      summary: Get summary of holdings for a known item
      description: 'Given a known item, get summary of holdings'
      operationId: find-bib-summary-holdings
      parameters:
        - name: Accept
          in: header
          description: Content Type the client supports and is requesting (application/json currently supported)
          schema:
            type: string
            default: application/json
          required: false
        - name: oclcNumber
          in: query
          description: oclc number of the bibliographic item
          required: false
          schema:
            description: the oclc number of a given bibliographic record
            type: integer
            format: int64
          example: 41266045
        - name: isbn
          in: query
          description: isbn of the bibliographic item (bn index)
          required: false
          schema:
            type: string
          example: 0439136350
        - name: issn
          in: query
          description: issn of the bibliographic item (in index)
          required: false
          schema:
            type: string
          example: 0099-1333
        - name: holdingsAllEditions
          in: query
          description: Get holdings for all editions
          required: false
          schema:
            type: boolean
        - name: holdingsAllVariantRecords
          in: query
          description: Get holdings for specific edition across variant records
          required: false
          schema:
            type: boolean
        - name: preferredLanguage
          in: query
          description: language user would prefer metadata description in
          required: false
          schema:
            description: three character MARC code for language to prefer records in
            type: string
            example: fre
        - name: heldInCountry
          in: query
          description: Restrict to holdings held by institutions in requested country
          required: false
          schema:
            description: 'Two-character Country Code, per ISO 3166.'
            type: string
          example: US
        - name: heldByGroup
          in: query
          description: Restrict to holdings held by Group Symbol
          required: false
          schema:
            type: string
          example: ASRL
        - name: heldBy
          in: query
          description: Institution Symbol
          deprecated: true
          required: false
          schema:
            type: string
          example: TXH
        - name: heldBySymbol
          in: query
          description: Institution Symbol
          required: false
          schema:
            type: array
            items:
              description: institution OCLC Symbol. Special characters need to be encoded properly.
              type: string
              minLength: 3
              maxLength: 8
              pattern: '^[a-zA-Z0-9@*&#%+$/]{1,}$'
            minItems: 1
            maxItems: 5
          explode: false
          examples:
            single:
              value:
                - TXH
            multiple:
              value:
                - TXH
                - YSM
        - name: heldByInstitutionID
          in: query
          description: Institution registryId
          required: false
          schema:
            type: array
            items:
              description: The identifier in the WorldCat Registry for the institution
              type: integer
            minItems: 0
            maxItems: 5
          explode: false
          examples:
            single:
              value:
                - 128807
            multiple:
              value:
                - 128807
                - 91475
        - name: lat
          in: query
          description: latitude
          required: false
          schema:
            description: Latitude
            type: number
            format: double
            example: 37.502508
        - name: lon
          in: query
          description: longitude
          required: false
          schema:
            description: Longitude
            type: number
            format: double
            example: -122.22702
        - name: distance
          in: query
          description: distance
          required: false
          schema:
            type: integer
            format: int32
          example: 10
        - name: unit
          in: query
          description: distance unit
          required: false
          schema:
            description: The unit of measure is either (M) for miles or (K) for kilometers
            enum:
              - M
              - K
            type: string
            default: M
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                type: object
                properties:
                  numberOfRecords:
                    type: integer
                    format: int32
                  briefRecords:
                    type: array
                    items:
                      type: object
                      properties:
                        oclcNumber:
                          description: the oclc number of a given bibliographic record
                          type: integer
                          format: int64
                        title:
                          description: 'Linked [v880sa,b] if present or [v245sa,b]'
                          type: string
                        creator:
                          description: List of creators as single string
                          type: string
                        date:
                          description: machine readable date 008
                          type: string
                        language:
                          description: 'Language of the item [v041sa,j]'
                          type: string
                        generalFormat:
                          description: 'General Format Type [Admin/OCLCDef/StdRT]'
                          type: string
                          enum:
                            - Archv
                            - ArtChapter
                            - AudioBook
                            - Book
                            - CompFile
                            - Encyc
                            - Game
                            - Image
                            - IntMM
                            - Jrnl
                            - Kit
                            - Map
                            - MsScr
                            - Music
                            - News
                            - Object
                            - Snd
                            - Toy
                            - Video
                            - Vis
                            - Web
                        specificFormat:
                          description: 'Specific Format Type [Admin/OCLCDef/StdRT2]'
                          type: string
                          enum:
                            - 2D
                            - Artcl
                            - Bluray
                            - Braille
                            - Cassette
                            - CD
                            - Chptr
                            - Continuing
                            - Digital
                            - DVD
                            - Encyc
                            - Film
                            - LargePrint
                            - LP
                            - Mic
                            - mss
                            - PrintBook
                            - rec
                            - Thsis
                            - VHS
                        edition:
                          description: 'Edition Statement [v250sa]'
                          type: string
                        publisher:
                          type: string
                        isbns:
                          description: 'International Standard Book Number [v020sa]'
                          type: array
                          items:
                            type: string
                        issns:
                          description: International Standard Serial Numbers
                          type: array
                          items:
                            description: 'International Standard Serial Number [v022sal v700,v710,v711,v773,v776,v777,v780,v785 - sx]'
                            type: string
                        mergedOclcNumbers:
                          description: 'Merged OCLC numbers [v019sa]'
                          type: array
                          items:
                            type: string
                        catalogingInfo:
                          type: object
                          properties:
                            catalogingAgency:
                              description: 'Cataloging Agency [v040/sa]'
                              type: string
                            transcribingAgency:
                              description: 'Transcribing Agency [v040/sc]'
                              type: string
                            catalogingLanguage:
                              description: 'Language record was cataloged in [v040sb]'
                              type: string
                            levelOfCataloging:
                              description: 'Level of cataloging [LDR position 5]'
                              type: string
                        institutionHolding:
                          type: object
                          properties:
                            totalHoldingCount:
                              description: 'Number of holdings for this item [Holdings/TotalLibCount || FRBRHoldings/B]'
                              type: integer
                              format: int32
                            totalWorksHoldingCount:
                              description: 'Number of holdings in the workset [FRBRHoldings/B]'
                              type: integer
                              format: int32
                            totalEditions:
                              description: Total number of editions in the workgroup
                              type: integer
                              format: int32
                          oneOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  country:
                                    description: 'Country of holding institution [Holdings/Library/Country]'
                                    type: string
                                  state:
                                    description: 'State of holding institution [Holdings/Library/State]'
                                    type: string
                                  oclcSymbol:
                                    description: 'Oclc Symbol of holding institution [Holdings/Library/InstSym]'
                                    type: string
                                  registryId:
                                    description: The identifier in the WorldCat Registry for the institution
                                    type: integer
                                  institutionName:
                                    description: 'Name of holding institution [Holdings/Library/InstName]'
                                    type: string
                                  alsoCalled:
                                    description: Some name the library might also be called
                                    type: string
                                  address:
                                    type: object
                                    properties:
                                      street1:
                                        description: Name of street
                                        type: string
                                      street2:
                                        description: Name of street 2
                                        type: string
                                      city:
                                        description: Name of city
                                        type: string
                                      state:
                                        description: 'Name of the State/Province, per ISO 3166-2.'
                                        type: string
                                      postalCode:
                                        description: Postal Code
                                        type: string
                                      country:
                                        description: 'Two-character Country Code, per ISO 3166.'
                                        type: string
                                      lat:
                                        description: Latitude
                                        type: number
                                        format: double
                                        example: 37.502508
                                      lon:
                                        description: Longitude
                                        type: number
                                        format: double
                                        example: -122.22702
                                  institutionType:
                                    description: The type of institution
                                    enum:
                                      - ACADEMIC
                                      - PUBLIC
                                      - REGIONAL_OR_NATIONAL
                                      - OTHER
                                      - CORPORATE_SPECIAL_LIBRARY
                                      - HEALTH
                                      - MUSEUM_OR_ARCHIVES
                                      - LAW
                                      - MUSIC
                                      - LIBRARY_NETWORK_GROUP
                                    type: string
                                  hasOPACLink:
                                    description: Whether or not the library has an OPAC deep links
                                    type: boolean
                                  distance:
                                    description: Distance from location if lat/log was specified
                                    type: string
                                  self:
                                    description: URI to find more info about the institution
                                    type: string
                                    format: uri
                                  illStatus:
                                    description: 'ILL status [Holdings/Library/ILLStatus]'
                                    type: string
                                  illGroup:
                                    description: 'ILL group [Holdings/Library/ILLGroup]'
                                    type: string
                                  hasSharedPrintCommitment:
                                    description: 'institution has shared print commitment [Holdings/LibHasSharedPrint]'
                                    type: string
                                    enum:
                                      - 'Y'
                                      - 'N'
                            - type: array
                              items:
                                type: object
                                properties:
                                  lhrControlNumber:
                                    description: 'LHR Control Number [LHR -> HldDetRec/c001]'
                                    type: string
                                  lhrDateEntered:
                                    description: 'LHR Date Entered [LHR -> HldDetRec/Admin/CreateDate]'
                                    type: string
                                  lhrLastUpdated:
                                    description: 'LHR Date Last Used [LHR -> HldDetRec/Admin/ReplacedDate]'
                                    type: string
                                  oclcNumber:
                                    description: 'OCLC Number [LHR -> HldDetRec/c004]'
                                    type: string
                                  format:
                                    description: 'material format [LHR -> HldDetRec/c007]'
                                    type: string
                                  location:
                                    description: 'Local holding location [LHR -> v852sa,b,c]'
                                    type: object
                                    properties:
                                      holdingLocation:
                                        description: 'Institution Symbol [LHR -> v852sa]'
                                        type: string
                                      sublocationCollection:
                                        description: 'Sublocation or collection [LHR -> v852sb]'
                                        type: string
                                      shelvingLocation:
                                        description: 'Shelving location [LHR -> v852sc]'
                                        type: string
                                  copyNumber:
                                    description: 'copy number [LHR -> HldDetRec/v852st]'
                                    type: string
                                  callNumber:
                                    description: 'Local call number [LHR -> v852sh,i,j,k,l,m]'
                                    type: object
                                    properties:
                                      displayCallNumber:
                                        description: 'Display call Number [LHR -> v852 |k,h,i,m / |j/ |l]'
                                        type: string
                                      classificationPart:
                                        description: LHR -> v852sh
                                        type: string
                                      itemParts:
                                        description: LHR -> v852si
                                        type: array
                                        items:
                                          type: string
                                      shelvingControlNumber:
                                        description: LHR -> v852sj
                                        type: string
                                      prefixes:
                                        description: LHR -> v852sk
                                        type: array
                                        items:
                                          type: string
                                      shelvingForm:
                                        description: LHR -> v852sl
                                        type: string
                                      suffixes:
                                        description: LHR -> v852sm
                                        type: array
                                        items:
                                          type: string
                                  lendingPolicy:
                                    description: 'local lending policy [LHR -> HldDetRec/Admin/Lend]'
                                    type: string
                                  hasSharedPrintCommitment:
                                    description: 'institution has shared print commitment [Holdings/LibHasSharedPrint || LHR -> HldDetRec/Admin/SPReg]'
                                    type: string
                                    enum:
                                      - 'Y'
                                      - 'N'
                                  sharedPrintCommitments:
                                    description: 'shared print details [LHR -> HldDetRec/v583]'
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        actionNote:
                                          description: 'Action Note [LHR -> HldDetRec/v583sa]'
                                          type: string
                                        materialsSpecified:
                                          description: 'Materials Sepcified [LHR -> HldDetRec/v583s3]'
                                          type: string
                                        institution:
                                          description: 'Institution to which applies [LHR -> HldDetRec/v583s5]'
                                          type: string
                                        dateOfAction:
                                          description: 'date of action [LHR -> HldDetRec/v583sc]'
                                          type: string
                                        commitmentExpirationDate:
                                          description: 'commitment expiration date [LHR -> HldDetRec/v583sd]'
                                          type: string
                                        authorization:
                                          description: 'Authorization [LHR -> HldDetRec/v583sf]'
                                          type: string
                                        methodOfAction:
                                          description: 'Method of Action [LHR -> HldDetRec/v583si]'
                                          type: string
                                        siteOfAction:
                                          description: 'Site of Action [LHR -> HldDetRec/v583sj]'
                                          type: string
                                        status:
                                          description: 'Status [LHR -> HldDetRec/v583sl]'
                                          type: string
                                        uri:
                                          description: 'URI [LHR -> HldDetRec/v583su]'
                                          type: string
                                        publicNote:
                                          description: 'Public Note [LHR -> HldDetRec/v583sz]'
                                          type: string
                                  summary:
                                    description: 'summary statement [LHR -> HldSummRec/v966sa]'
                                    type: string
                                  holdingParts:
                                    description: 'Textual Holding [LHR -> HldDetRec/v866,v867,v868] Item Information Holding [LHR -> HldDetRec/v876,v877,v878] Enumeration Chronology Holding [LHR -> HldDetRec/v863,v864,v865]'
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        linkingAndSequenceNumber:
                                          description: 'Field link and sequence number [852/863-865/866-868/876-878 | s8]'
                                          type: string
                                        summaryOfHoldings:
                                          description: 'Summary of Holdings [https://www.loc.gov/marc/holdings/echdcntf.html]'
                                          type: string
                                        enumerations:
                                          description: 'Enumerations [853-855/863-865 |a-h]'
                                          type: array
                                          items:
                                            description: 'The caption and value pair for a caption describing a numeric, alphabetic, and/or date designation for an item. The caption is defined as an attribute on the element and the value for the caption is defined by the element contents.'
                                            type: object
                                            properties:
                                              caption:
                                                type: string
                                              value:
                                                type: string
                                        chronologies:
                                          description: 'Chronologies [853-855/863-865 |i-v]'
                                          type: array
                                          items:
                                            description: 'The caption and value pair for a caption describing a numeric, alphabetic, and/or date designation for an item. The caption is defined as an attribute on the element and the value for the caption is defined by the element contents.'
                                            type: object
                                            properties:
                                              caption:
                                                type: string
                                              value:
                                                type: string
                                        textualHoldings:
                                          description: '[866-8 |a]'
                                          type: string
                                        itemMaterialSpecified:
                                          description: '[876-8 |3]'
                                          type: string
                                        pieceDesignation:
                                          description: 'Piece Designation [852/863-865/866-868/876-878 |p]'
                                          type: string
                                        cancelledPieceDesignations:
                                          description: 'Cancelled Piece Designation [876-878 |r]'
                                          type: array
                                          items:
                                            type: string
                                        temporaryLocation:
                                          description: 'Temporary location [876-878 |l]'
                                          type: string
                                        publicNotes:
                                          description: 'Public notes [852/863-865/866-868/876-878 |z]'
                                          type: array
                                          items:
                                            type: string
                                        yearRanges:
                                          description: 'Year as Range [si]'
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              from:
                                                type: string
                                              to:
                                                type: string
                                        volumeRanges:
                                          description: 'Volume Number As Range [sb]'
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              from:
                                                type: string
                                              to:
                                                type: string
                                required:
                                  - lhrControlNumber
                                  - lhrDateEntered
                                  - lhrLastUpdated
                                  - oclcNumber
                                  - format
                                  - lendingPolicy
                                  - hasSharedPrintCommitment
                      required:
                        - oclcNumber
                        - title
                        - creator
                        - date
                        - language
                        - edition
                        - publisher
                  searchFacets:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: string
                        facetType:
                          type: string
                        values:
                          type: array
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                              count:
                                type: integer
                                format: int32
                              subFacet:
                                type: object
                                properties:
                                  index:
                                    type: string
                                  facetType:
                                    type: string
                                  values:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                        count:
                                          type: integer
                                          format: int32
                              subFacetItemBrief:
                                type: object
                                properties:
                                  index:
                                    type: string
                                  facetType:
                                    type: string
                                  values:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        value:
                                          type: string
                                        count:
                                          type: integer
                                          format: int32
              examples:
                success-bibs-summary-holdings:
                  summary: successful request for bibs and holdings
                  value:
                    numberOfRecords: 1
                    briefRecords:
                      - oclcNumber: '318877925'
                        title: Simon's cat / by Simon Tofield.
                        creator: Simon. Tofield
                        date: '2009.'
                        language: eng
                        generalFormat: Book
                        specificFormat: PrintBook
                        edition: 1st ed.
                        publisher: Grand Central Pub.
                        publicationPlace: 'New York :'
                        mergedOclcNumbers:
                          - '877908501'
                        isbns:
                          - '9780446560061'
                          - '0446560065'
                        catalogingInfo:
                          catalogingAgency: DLC
                          transcribingAgency: DLC
                          catalogingLanguage: eng
                          levelOfCataloging: ' '
                        institutionHolding:
                          totalHoldingCount: 464
                          totalSharedPrintCount: 0
                          totalEditions: 17
        '400':
          description: 'Invalid query. The request was unacceptable, often due to missing a required parameter.'
          content:
            application/json:
              schema:
                type: object
                description: RFC 7807 description of an error.
                properties:
                  type:
                    description: 'A URI reference [RFC3986] that identifies the problem type.'
                    type: string
                    format: uri
                    enum:
                      - 'https://developer.api.oclc.org/errors/NOT_ACCEPTABLE'
                      - 'https://developer.api.oclc.org/errors/NOT_ALLOWED'
                      - 'https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR'
                      - 'https://developer.api.oclc.org/errors/BAD_REQUEST'
                      - 'https://developer.api.oclc.org/errors/NOT_FOUND'
                      - 'https://developer.api.oclc.org/errors/NOT_ELIGIBLE'
                      - 'https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME'
                      - 'https://developer.api.oclc.org/errors/SYNTAX_ERROR'
                      - 'https://developer.api.oclc.org/errors/INVALID_DOCUMENT'
                      - 'https://developer.api.oclc.org/errors/MISSING_ELEMENT'
                      - 'https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE'
                  title:
                    description: 'A short, human-readable summary of the problem type.'
                    type: string
                  instance:
                    description: A URI reference that identifies the specific occurrence of the problem.
                    type: string
                    format: uri
                  detail:
                    description: 'A human-readable explanation specific to this occurrence of the problem.,'
                    type: string
                  invalidParams:
                    description: An array of validation errors.
                    type: array
                    items:
                      description: The validation error descriptor.
                      type: object
                      properties:
                        path:
                          type: string
                        name:
                          type: string
                        reason:
                          type: string
              examples:
                missing-query-parameter:
                  summary: Error returned when required query parameter not sent
                  value:
                    type: MISSING_QUERY_PARAMETER
                    title: Validation Failure
                    detail: Required String parameter 'q' is not present
                missing-query-parameter-value:
                  summary: Error returned when query parameter value not valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: Query term is not provided.
                invalid-oclc-number:
                  summary: Error returned when oclc number isn't valid
                  value:
                    type: INVALID_QUERY_PARAMETER_VALUE
                    title: Validation Failure
                    detail: oclcNumber must be a positive whole number
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                unauthorized:
                  summary: Error returned when valid API credentials not sent or invalid
                  value:
                    message: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              examples:
                forbidden:
                  summary: Error returned when API credentials not for resource
                  value:
                    message: Forbidden
        '405':
          description: 'Method not supported, see response Allow header'
          content:
            application/json:
              schema:
                type: object
                description: RFC 7807 description of an error.
                properties:
                  type:
                    description: 'A URI reference [RFC3986] that identifies the problem type.'
                    type: string
                    format: uri
                    enum:
                      - 'https://developer.api.oclc.org/errors/NOT_ACCEPTABLE'
                      - 'https://developer.api.oclc.org/errors/NOT_ALLOWED'
                      - 'https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR'
                      - 'https://developer.api.oclc.org/errors/BAD_REQUEST'
                      - 'https://developer.api.oclc.org/errors/NOT_FOUND'
                      - 'https://developer.api.oclc.org/errors/NOT_ELIGIBLE'
                      - 'https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME'
                      - 'https://developer.api.oclc.org/errors/SYNTAX_ERROR'
                      - 'https://developer.api.oclc.org/errors/INVALID_DOCUMENT'
                      - 'https://developer.api.oclc.org/errors/MISSING_ELEMENT'
                      - 'https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE'
                  title:
                    description: 'A short, human-readable summary of the problem type.'
                    type: string
                  instance:
                    description: A URI reference that identifies the specific occurrence of the problem.
                    type: string
                    format: uri
                  detail:
                    description: 'A human-readable explanation specific to this occurrence of the problem.,'
                    type: string
                  invalidParams:
                    description: An array of validation errors.
                    type: array
                    items:
                      description: The validation error descriptor.
                      type: object
                      properties:
                        path:
                          type: string
                        name:
                          type: string
                        reason:
                          type: string
              examples:
                not-allowed:
                  summary: Error when invalid HTTP method used
                  value:
                    title: NOT_ALLOWED
                    detail: POST method not allowed
        '406':
          description: Media type not supported
          content:
            application/json:
              schema:
                type: object
                description: RFC 7807 description of an error.
                properties:
                  type:
                    description: 'A URI reference [RFC3986] that identifies the problem type.'
                    type: string
                    format: uri
                    enum:
                      - 'https://developer.api.oclc.org/errors/NOT_ACCEPTABLE'
                      - 'https://developer.api.oclc.org/errors/NOT_ALLOWED'
                      - 'https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR'
                      - 'https://developer.api.oclc.org/errors/BAD_REQUEST'
                      - 'https://developer.api.oclc.org/errors/NOT_FOUND'
                      - 'https://developer.api.oclc.org/errors/NOT_ELIGIBLE'
                      - 'https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME'
                      - 'https://developer.api.oclc.org/errors/SYNTAX_ERROR'
                      - 'https://developer.api.oclc.org/errors/INVALID_DOCUMENT'
                      - 'https://developer.api.oclc.org/errors/MISSING_ELEMENT'
                      - 'https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE'
                  title:
                    description: 'A short, human-readable summary of the problem type.'
                    type: string
                  instance:
                    description: A URI reference that identifies the specific occurrence of the problem.
                    type: string
                    format: uri
                  detail:
                    description: 'A human-readable explanation specific to this occurrence of the problem.,'
                    type: string
                  invalidParams:
                    description: An array of validation errors.
                    type: array
                    items:
                      description: The validation error descriptor.
                      type: object
                      properties:
                        path:
                          type: string
                        name:
                          type: string
                        reason:
                          type: string
              examples:
                not-acceptable-error:
                  summary: Error when media type in Accept header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ''
                    detail: 'Media type application/xml not supported. Supported media types: application/json'
                not-acceptable-error-language:
                  summary: Error when language in Accept-Language header not supported
                  value:
                    type: NOT_ACCEPTABLE
                    title: ''
                    detail: 'en-UK supported. Supported languages: en, es, fr'
        '500':
          description: Something went wrong (hopfully rare) - please try again
          content:
            application/json:
              schema:
                type: object
                description: RFC 7807 description of an error.
                properties:
                  type:
                    description: 'A URI reference [RFC3986] that identifies the problem type.'
                    type: string
                    format: uri
                    enum:
                      - 'https://developer.api.oclc.org/errors/NOT_ACCEPTABLE'
                      - 'https://developer.api.oclc.org/errors/NOT_ALLOWED'
                      - 'https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR'
                      - 'https://developer.api.oclc.org/errors/BAD_REQUEST'
                      - 'https://developer.api.oclc.org/errors/NOT_FOUND'
                      - 'https://developer.api.oclc.org/errors/NOT_ELIGIBLE'
                      - 'https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE'
                      - 'https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME'
                      - 'https://developer.api.oclc.org/errors/SYNTAX_ERROR'
                      - 'https://developer.api.oclc.org/errors/INVALID_DOCUMENT'
                      - 'https://developer.api.oclc.org/errors/MISSING_ELEMENT'
                      - 'https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE'
                  title:
                    description: 'A short, human-readable summary of the problem type.'
                    type: string
                  instance:
                    description: A URI reference that identifies the specific occurrence of the problem.
                    type: string
                    format: uri
                  detail:
                    description: 'A human-readable explanation specific to this occurrence of the problem.,'
                    type: string
                  invalidParams:
                    description: An array of validation errors.
                    type: array
                    items:
                      description: The validation error descriptor.
                      type: object
                      properties:
                        path:
                          type: string
                        name:
                          type: string
                        reason:
                          type: string
      security:
        - worldcat_search_auth:
            - 'wcapi:view_summary_holdings'
  /bibs-holdings:
    get:
      tags:
        - Member General Holdings
      summary: Find member holdings for a known item
      description: 'Given a known item, find the member libraries who hold it'
      operationId: find-bib-holdings
      parameters:
        - name: Accept
          in: header
          description: Content Type the client supports and is requesting (application/json currently supported)
          schema:
            type: string
            default: application/json
          required: false
        - name: oclcNumber
          in: query
          description: oclc number of the bibliographic item
          required: false
          schema:
            description: the oclc number of a given bibliographic record
            type: integer
            format: int64
          example: 41266045
        - name: isbn
          in: query
          description: isbn of the bibliographic item (bn index)
          required: false
          schema:
            type: string
          example: 0439136350
        - name: issn
          in: query
          description: issn of the bibliographic item (in index)
          required: false
          schema:
            type: string
          example: 0099-1333
        - name: holdingsAllEditions
          in: query
          description: Get holdings for all editions
          required: false
          schema:
            type: boolean
        - name: holdingsAllVariantRecords
          in: query
          description: Get holdings for specific edition across variant records
          required: false
          schema:
            type: boolean
        - name: preferredLanguage
          in: query
          description: language user would prefer metadata description in
          required: false
          schema:
            description: three character MARC code for language to prefer records in
            type: string
            example: fre
        - name: heldInCountry
          in: query
          description: Restrict to holdings held by institutions in requested country
          required: false
          schema:
            description: 'Two-character Country Code, per ISO 3166.'
            type: string
          example: US
        - name: heldBySymbol
          in: query
          description: Institution Symbol
          required: false
          schema:
            type: array
            items:
              description: institution OCLC Symbol. Special characters need to be encoded properly.
              type: string
              minLength: 3
              maxLength: 8
              pattern: '^[a-zA-Z0-9@*&#%+$/]{1,}$'
            minItems: 1
            maxItems: 5
          explode: false
          examples:
            single:
              value:
                - TXH
            multiple:
              value:
                - TXH
                - YSM
        - name: heldByInstitutionID
          in: query
          description: Institution registryId
          required: false
          schema:
            type: array
            items:
              description: The identifier in the WorldCat Registry for the institution
              type: integer
            minItems: 0
            maxItems: 5
          explode: false
          examples:
            single:
              value:
                - 128807
            multiple:
[...]
